molo.core==5.0.4b1
molo.commenting==3.0.2b1
molo.yourwords==2.1.0
molo.servicedirectory==2.1.2
molo.polls==3.1.0
molo.surveys==3.0.0b1
celery<4.0
gunicorn
psycopg2
django-modelcluster>=2.0,<3.0
django_compressor==2.0
django-mptt==0.8.5
django-google-analytics-app==2.1.4
